<%- include('partials/menu') %>

<h2>Pedidos</h2>

<table>
  <tr><th>ID</th><th>Cliente</th><th>Status</th><th>Ações</th></tr>
  <% pedidos.forEach(p => { %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.user.name %></td>
      <td><%= p.status %></td>
      <td>
        <form action="/admin/orders/<%= p.id %>?_method=DELETE" method="POST">
          <button type="submit">Excluir</button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

<%- include('partials/footer') %>
