<%- include('../partials/menu') %>

<h2>Produtos do restaurante</h2>
  <% if (restaurante?.imageUrl) { %>
  <img src="<%= restaurante.imageUrl %>" alt="<%= restaurante.name %>" width="200" />
  <% } %>
<h3><%= restaurante?.name %></h3>
<ul>
  <% if (produtos.length === 0) { %>
    <li>Este restaurante não possui produtos cadastrados.</li>
  <% } else { %>
    <% produtos.forEach(p => { %>
      <li>
        <form action="/cart/adicionar" method="POST">
          <%= p.name %> - R$ <%= p.price %>
          <input type="hidden" name="productId" value="<%= p.id %>" />
          <input type="number" name="quantity" value="1" min="1" />
          <button type="submit">Adicionar ao carrinho</button>
        </form>
      </li>
    <% }) %>
  <% } %>
</ul>

<%- include('../partials/footer') %>
