<%- include('../../partials/menu') %>

<div class="edit-container">
  <h2>Editar Restaurante</h2>

  <form action="/admin/restaurantes/<%= restaurante.id %>/editar" method="POST">
    <label>Nome:</label>
    <input type="text" name="name" value="<%= restaurante.name %>" required />

    <label>Endereço:</label>
    <input type="text" name="address" value="<%= restaurante.address %>" required />

    <label>Imagem URL:</label>
    <input type="text" name="imagemURL" value="<%= restaurante.imagemURL %>" />

    <button type="submit">Atualizar</button>
  </form>
</div>

<%- include('../../partials/footer') %>
